@tailwind base;
@tailwind components;
@tailwind utilities;

ul li {
  padding: 0 0.5em 0.25em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  display: inline-block;
}
ul li:hover {
  color: black;
}
ul li:before {
  content: "";
  position: absolute;
  background: #523ccf;
  /* inset: calc(100% - 0.1em) 0 0 0; */
  scale: 0 1;
  transition: 0.3s, translate 0s 0.3s;
}

ul:hover li:before {
  scale: 1;
}
ul li:hover:before {
  inset: calc(100% - 0.1em) 0 0 0;
  width: 100%;
  translate: 0;
  transition: 0.5s;
}
ul:hover li:has(~ li:hover):before {
  translate: 100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}

ul:hover li:hover ~ li:before {
  translate: -100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}

.right {
  margin-right: 2em;
}
