@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "aileronHeavyItalic";
  src: url("./fonts/Aileron-HeavyItalic.otf") format("truetype");
}
@font-face {
  font-family: "aileronSemiBold";
  src: url("./fonts/Aileron-SemiBold.otf") format("truetype");
}

@font-face {
  font-family: "aileronSemiBoldItalic";
  src: url("./fonts/Aileron-SemiBoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "aileronHeavy";
  src: url("./fonts/Aileron-Heavy.otf") format("truetype");
}

@font-face {
  font-family: "aileronThin";
  src: url("./fonts/Aileron-Thin.otf") format("truetype");
}

@font-face {
  font-family: "aileronRegular";
  src: url("./fonts/Aileron-Regular.otf") format("truetype");
}

:root {
  --bg: #f0dba5;
  --yellow: #edb74d;
  --red: #eb6666;
  --green: #6fb18a;
  --step--3: clamp(0.7513rem, 0.5903rem + 0.805vi, 1.3148rem);
  --step--2: clamp(0.8264rem, 0.6494rem + 0.8855vi, 1.4463rem);
  --step--1: clamp(0.9091rem, 0.7143rem + 0.974vi, 1.5909rem);
  --step-0: clamp(1rem, 0.7857rem + 1.0714vi, 1.75rem);
  --step-1: clamp(1.1rem, 0.8643rem + 1.1786vi, 1.925rem);
  --step-2: clamp(1.21rem, 0.9507rem + 1.2964vi, 2.1175rem);
  --step-3: clamp(1.331rem, 1.0458rem + 1.4261vi, 2.3293rem);
  --step-4: clamp(1.4641rem, 1.1504rem + 1.5687vi, 2.5622rem);
  --step-5: clamp(1.6105rem, 1.2654rem + 1.7255vi, 2.8184rem);
  --step-6: clamp(1.7716rem, 1.3919rem + 1.8981vi, 3.1002rem);
  --step-7: clamp(1.9487rem, 1.5311rem + 2.0879vi, 3.4103rem);
}

h1 {
  font-size: var(--step-5);
}
h2 {
  font-size: var(--step-2);
}

body {
  /* position: absolute; */
  /* background: url(svg/noisynoisy.svg) no-repeat; */
  background-color: #fef3ef;
  margin: 0px 0px 0px 0px;
  min-width: 100%;
  font-size: var(--step--1);
  -webkit-text-fill-color: #333;

  /* overflow: auto; */
}

/*======================== HEADER ===================================*/
header {
  top: 0;
  left: 0;
  /* overflow: hidden; */
}

hr {
  top: 50%;
  /* border: 10px double #333; */
  /* border-top: 3px double #333; */
  color: #333;
  border: none;
  height: 5px;
  background: #333;
  overflow: visible;
  text-align: center;
  align-items: center;
}

/*
hr::after {
  background: #fff;
  content: "§";
  position: relative;
}
*/

.header-treadmill-container {
  justify-items: center;
  align-items: start;
  margin: 0 auto;
  overflow: hidden;
  width: 60%;
}
.header-treadmill-container ul {
  display: flex; /* Make list items display horizontally */
  flex-direction: row; /* Ensure list items are in a row */
  white-space: nowrap;
  animation: treadmill-animation 10s linear infinite;
}
.header-treadmill-container li {
  margin-right: 5rem;
}

.right {
  justify-self: center;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 50px;
  color: #523ccf;
}

/* Menu to X button */
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: #523ccf;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* ===================== Home Component ============================*/
.name {
  /* -webkit-text-stroke-width: 1px; */
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: none;
  overflow: visible;
  /* transform: translate(0%, 50%); */
  z-index: 5;
  font-size: var(--step-7);
}

.treadmill-container {
  /* justify-items: center; */
  /* align-items: center; */
  margin: 0 auto;
  overflow: hidden;
  /* height: 2em; */
  z-index: 4;
  transform: translate(-23%, 0%);
}
.treadmill-container ul {
  display: flex; /* Make list items display horizontally */
  flex-direction: row; /* Ensure list items are in a row */
  white-space: nowrap;
  animation: treadmill-animation 10s linear infinite;
  transform: translate(0%, 50%);
  /* overflow: hidden; */
}
.treadmill-container li {
  margin-right: 2rem;
  font-size: var(--step-0);
}

.treadmill-text {
  display: flex; /* Make list items display horizontally */
  /* animation: treadmill-animation 5s linear infinite; */
  flex-direction: row; /* Ensure list items are in a row */
  justify-content: space-between;
  width: 25%;
}

@keyframes treadmill-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.links {
  position: relative;
  flex-shrink: 1;
}

.home-page {
  overflow: visible;
  position: relative;
  flex-shrink: 1;
  /* base  337.5 x 464*/
  z-index: 4;
  top: -20%;
  min-width: 1000px;
  min-height: 800px;
  margin: auto;
  transition: transform 0.3s ease-in-out;
  transform: scale(0.55);
}

/* Home - RecordHome Component Styling */
.album-cover {
  /* min-height: 30em;
  min-width: 50em; */
  position: absolute;
  max-height: 100%;
  min-height: 800px;
  width: 100%;
  min-width: 800px;
  overflow: visible;
  grid-template-columns: 10% 800px 22%;
  grid-template-rows: 33% 33% 33%;
  object-position: 50% 50%;
  /* transform: translate(12.5%, 0%); */
  /* transform-origin: center center; */
  flex-shrink: 0;
}
.inner-album {
  /* background: url(svg/noisynoisy.svg) no-repeat; */

  filter: contrast(970%) brightness(150%);
  background: radial-gradient(
      circle at 70% -3%,
      rgba(127, 18, 208, 0.41),
      rgba(0, 0, 0, 0.19)
    ),
    radial-gradient(
      circle at 37% 51%,
      rgba(220, 169, 18, 0.32),
      rgba(255, 0, 255, 0)
    ),
    radial-gradient(
      circle at 48% -50%,
      rgba(183, 4, 4, 0.13),
      rgba(124, 154, 232, 0.46)
    ),
    radial-gradient(
      circle at 56% -46%,
      rgba(240, 255, 198, 1),
      rgba(181, 136, 34, 1)
    ),
    url(/👆/that/noise.svg);
  background-size: cover;
  position: absolute;
  height: 100%;
  min-width: 100%;
  z-index: 4;
  overflow: visible;
  grid-column-start: 2;
  grid-column-end: 3;
}

.album-cover .shadow1::before {
  content: "";
  position: absolute;
  object-position: left bottom;
  align-self: end;
  bottom: 10px;
  height: 20%;
  min-height: 10%;
  min-width: 20%;
  width: 10%;
  /* left: -2px; */
  box-shadow: -50px -80px 30px rgb(0, 0, 0, 0.3);
  transform: skewY(9deg);
  border-radius: 40%;
  z-index: -1;
  filter: blur(2px);
  transform: translate(53%, 10%) rotate(-50deg) skewY(9deg);
  will-change: unset !important;
  grid-column-start: 1;
}

.vinyl-cover {
  content: "";
  display: flex;
  overflow: visible;
  position: absolute;
  height: 800px;
  max-width: 800px;
  min-width: 695px;
  /* background-color: blue; */
  grid-column-start: 3;
  grid-row-start: 1;
  z-index: -4;
}

.vinyl-holder {
  position: absolute;
  max-width: 37px;
  max-height: 37px;
  overflow: visible;
  top: 46%;
  left: -2%;
  z-index: -2;
  transform: scale(4);
}
.vinyl {
  position: absolute;
  max-width: 200px;
  max-height: 800px;
  top: 37.5%;
  left: -15%;
  overflow: visible;
  z-index: -3;
  animation: record-spin 4s linear infinite;
}

@keyframes record-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.album-cover > * {
  /* flex-shrink: 1; */
  width: 100%;
  overflow: hidden;
}

.vinyl-cover > * {
  flex-shrink: 1;
  width: 100%;
}

.project-ul {
  overflow-x: scroll;
}
.project-li:last-of-type {
  margin: 0;
}

.record {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateY(50%) translateX(-50%) rotate(90deg);
  white-space: nowrap;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: white;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: black;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

@keyframes rotateGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* Blobs */
.blob-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -2;
  height: 500px;
  width: 500px;
  position: relative;
  right: 5em;
}

.blob {
  border-radius: 100px;
  filter: blur(60px);
}

.yellow {
  background-color: var(--yellow);
  position: absolute;
  top: 200px;
  left: 100px;
  height: 200px;
  width: 200px;

  animation: yellow 8s infinite ease;
}

.green {
  background-color: var(--green);
  position: absolute;
  top: 80px;
  right: -20px;
  height: 200px;
  width: 250px;

  animation: green 8s infinite ease;
}

.red {
  background-color: var(--red);
  position: absolute;
  right: 0;
  top: 300px;
  height: 250px;
  width: 200px;

  animation: red 8s infinite linear;
}

@keyframes yellow {
  0% {
    top: 200px;
    left: 100px;
    transform: scale(1);
  }
  30% {
    top: 300px;
    left: 150px;
    transform: scale(1.2);
  }
  60% {
    top: 100px;
    left: 200px;
    transform: scale(1.3);
  }
  100% {
    top: 200px;
    left: 100px;
    transform: scale(1);
  }
}

@keyframes green {
  0% {
    top: 80px;
    right: -20px;
    transform: scale(1.2);
  }
  30% {
    top: 300px;
    right: -20px;
    transform: scale(1);
  }
  60% {
    top: 200px;
    right: 100px;
    transform: scale(1);
  }
  100% {
    top: 80px;
    right: -20px;
    transform: scale(1.2);
  }
}

@keyframes red {
  0% {
    top: 250px;
    right: 0px;
    transform: scale(1);
  }
  30% {
    top: 150px;
    right: 150px;
    transform: scale(1.4);
  }
  60% {
    top: 250px;
    right: 100px;
    transform: scale(1);
  }
  100% {
    top: 250px;
    right: 0px;
    transform: scale(1);
  }
}

/*
  @1440
  1440/1000 = 1.44
  1440/800 = 1.8
  1440/ 695 = 2.071
  1440/ 200 = 7.2
  1440/50 = 28.8
    Header
    Home Page (1000 x 800)
      Album Cover (1000 x 800)
      Inner Album (800 x 800)
      Vinyl Cover (695 x 800)
      Vinyl Holder (50 x 50)
      Vinyl (200 x 800)
    SquareMenu

  */

@media screen and (max-width: 376px) {
  .home-page {
    min-width: 222.22px;
    min-height: 177.77px;
    /* transform: scale(1.5); */
  }
  .album-cover {
    min-height: 177px;
    min-width: 177px;
    grid-template-columns: 10% 177px 22%;
  }

  .album-cover .shadow1::before {
  }

  .vinyl-cover {
    max-width: 177px;
    min-width: 154.51px;
    height: 177px;
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .vinyl {
    max-width: 44.44px;
    max-height: 177px;
  }

  #vinyl-svg {
    width: 44.44px;
    height: 44.44px;
  }
}
/* 
@media screen and (max-width: 480px) {
} */

@media screen and (max-width: 600px) {
  .home-page {
    min-width: 416px;
    min-height: 333px;
  }
  .album-cover {
    min-height: 333px;
    min-width: 333px;
    grid-template-columns: 10% 333px 22%;
  }

  .album-cover .shadow1::before {
  }

  .vinyl-holder {
    width: 21px;
    height: 21px;
  }

  .vinyl-cover {
    max-width: 333px;
    min-width: 289.7px;
    height: 333px;
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .vinyl {
    max-width: 83.33px;
    max-height: 333px;
  }

  #vinyl-svg {
    width: 83.33px;
    height: 83.33px;
  }
}

@media screen and (601px < width < 768px) {
  /* Home Page (1000 x 800) */
  .home-page {
    min-width: 533.33px;
    min-height: 426px;
  }

  /* Album Cover (1000 x 800) */
  .album-cover {
    min-height: 426px;
    min-width: 426px;
    grid-template-columns: 10% 426px 22%;
  }

  .album-cover .shadow1::before {
  }

  /* Vinyl Cover (695 x 800) */
  .vinyl-cover {
    max-width: 426px;
    min-width: 370.8px;
    height: 426px;
    grid-column-start: 3;
    grid-row-start: 1;
  }
  /* Vinyl (200 x 800) */
  .vinyl {
    max-width: 106.66px;
    max-height: 426px;
  }
  /* Vinyl (200 x 200) */
  #vinyl-svg {
    width: 106.66px;
    height: 106.66px;
  }
}

@media screen and (max-width: 900px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 1200px) {
}
